<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TransConnectDatabase"
		   connectionString="server=192.168.0.10;database=mydb;user=root;password=123456789abc" />
	</connectionStrings>
	<appSettings>
		<add key="EdgesCSV" value="SeedData\points.csv" />
		<add key="EmployeeCSV" value="SeedData\employees.csv" />
	</appSettings>
</configuration>